// colors
$dark-blue: #3f6fb6;
$blue: #7dabcf;
$bestag: #cfe6eb;
$grey: #c5c3c2;
$white: #fff;
$black: #000;
$light-black: #282929;
$green : #4CAF50;

$primary: #01d85f;
$indigo: #7635f5;
$gray: #808080;
$grayDark: #34313f;
$lightDark: #292633;
$lightgray: #808080;

$main-color: #3f6fb6 !default;
$white-color: #ffffff !default;
$red-color: #ed4646 !default;
$gray-color: #808285 !default;
$dark-color: #000 !default;
$light-gray-color: #B6B9D5 !default;
$sonic-silver-color: #707070 !default;