* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $bestag;
    height: 5000px;
    font-family: 'Poppins', sans-serif;
}

ul,li,a {
    list-style: none;
    margin: 0;
    padding: 0;
}

h4,h5 {
    margin: 0;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: $white;

    &:hover {
        color: $white;
    }
}