nav {
    padding: 1rem 0;
    background-color: $dark-blue;
    box-shadow: 0 2px 4px rgba(0, 0, 0 ,.5);
    z-index: 999;

    .logo {
        a {
            font-size: 1.5rem;
        }
    }

    .search {
        position: relative;

        .searchIcon {
            position: absolute;
            top: 50%;
            left: 1.5rem;
            transform: translateY(-50%);
            font-size: 20px;
        }

        input {
            height: 40px;
            width: 100%;
            outline: none;
            padding-left: 2.8rem;
            border-radius: .5rem;
            border: $bestag;
        }
    }

    .account {
        gap: 1.5rem;
        align-items: center;
    }
}

    .active {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }
@media screen and (max-width: 778px) {
nav {
        .search {
            display: none;
        }
}
}